<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h1>Editing Group</h1>
        <div id="error-massage">
          <% if @group.errors.any? %>
            <h3><%= @group.errors.count %> errors prohibited this obj from being saved:</h3>
              <ul>
              <% @group.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
          <% end %>
        </div>

        <%= form_with model: @group, local: true do |f| %>
          <div class="form-group">
            <%= f.label :name, 'グループ名' %><br />
            <%= f.text_field :name, class: 'form-controll' %>
          </div>
          <div class="form-group">
            <%= f.label :introduction, '紹介文' %><br />
            <%= f.text_area :introduction, class: 'form-controll' %>
          </div>
          <div class="form-group">
            <%= f.label :image, 'グループ画像' %><br />
            <%= f.attachment_field :image, class: 'form-controll' %>
          </div>
          <div class="form-group">
            <%= f.submit 'Update Group', class: 'btn btn_create_group' %>
          </div>
        <% end %>
    </div>
  </div>
</div>