<div class="container px-5 px-sm-0">
  <div class="row">
    <!--部分テンプレート-->
    <%= render 'books/follow', user: @user, book: @book %>

    <div class="col-md-8 offset-md-1">
      <!--Group詳細-->
      <h2>Group Detail</h2>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>グループ名</th>
              <th>紹介文</th>
              <th>メンバー</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><%= attachment_image_tag @group, :image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %></td>
                <td><%= @group.name %></td>
                <td><%= @group.introduction %></td>
                <td>
                  <% @group.users.each do |member| %>
                    <%= member.name %><br>
                  <% end %>
                </td>
                <td>
                  <% if @group.owner_id == current_user.id %>
                    <%= link_to "Edit", edit_group_path(@group), class: "btn btn-success" %>
                  <% elsif @group.users.include?(current_user) %>
                    <%= link_to 'Leave this group', group_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
                  <% else %>
                    <%= link_to "Join this group", group_join_path(@group), class: "btn btn-success" %>
                  <% end %>
                </td>
              </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>