<div class="container px-5 px-sm-0">
  <div class="row">
    <!--部分テンプレート-->
    <%= render 'books/follow', user: @user, book: @book %>

    <div class="col-md-8 offset-md-1">
      <!--Group詳細-->
      <h2>Group Detail</h2>
        <table class="table">
          <tbody>
              <tr>
                <td><%= attachment_image_tag @group, :image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %></td>
                <td><%= @group.name %></td>
                <td><%= @group.introduction %></td>
                <td>
                  <% if @group.owner_id == current_user.id %>
                    <%= link_to "Edit", edit_group_path(@group), class: "btn btn-success" %>
                  <% end %>
                </td>
              </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>