<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>

  <% if @user.id == current_user.id %>
  <p><%= link_to "Edit", edit_user_path(@user) %></p>
  <% end %>
</div>

<%= @books.each do |book| %>
  <div>
    <p><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></p>
    <p>Title：
    <%= link_to book_path(book.id) do %>
      <%= book.title %>
    <% end %>
    </p>
    <p>Opinion：<%= book.body %></p>
    <p>ユーザーネーム：<%= book.user.name %></p>
  </div>
<% end %>
<%= paginate @books %>