<%= @books.each do |book| %>
  <div>
    <p>Title：
    <%= link_to book_path(book.id) do %>
      <%= book.title %>
    <% end %>
    </p>
    <p>Opinion：<%= book.body %></p>
    <p>ユーザーネーム：<%= book.user.name %></p>
  </div>
<% end %>