<div class="container px-5 px-sm-0">
  <div class="row">
    <!--部分テンプレート-->
    <%= render 'books/list', book: @book_new, user: @user %>

    <div class="col-md-8 offset-md-1">
      <!--book detail-->
      <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %><br />
                <%= link_to @user.name, user_path(@user) %>
              </td>
              <td>
                <%= link_to @book.title, book_path %>
              </td>
              <td>
                <%= @book.body %>
              </td>
              <td>
                ♡
              </td>
              <td>
                コメント数：<%= @book.book_comments.count %>
              </td>
              <% if @book.user == current_user %>
              <td>
                <%= link_to "Edit", edit_book_path(@book), class: 'btn btn-sm btn-success' %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@book), method: :delete, class: 'btn btn-sm btn-danger', "data-confirm" => "本当に消しますか？" %>
              </td>
              <% end %>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>
            <% @book.book_comments.each do |book_comment|%>
            <tr>
              <td>
                <%= attachment_image_tag @user, :profile_image, :fill, 20, 20, format: 'jpeg', fallback: "no_image.jpg" %><br>
                <%= link_to book_comment.user.name, user_path(@user) %>
              </td>
              <td>
                <%= book_comment.comment %>
              </td>
              <td>
                <% if book_comment.user == current_user %>
                <%= link_to "Destroy", book_book_comment_path(book_comment.book,book_comment), method: :delete, class: "btn btn-danger" %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= form_with(model:[@book, @book_comment], local:true) do |f| %>
          <%= f.text_area :comment, class: "col-md-12" %><br>
          <%= f.submit"送信" %>
        <% end %>
    </div>
  </div>
</div>