<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body class="d-flex flex-column vh-100">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="https://2f50326f9d554a51b3db642e615c7a2b.vfs.cloud9.us-east-1.amazonaws.com/">
          <span>Bookers</span>
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to ' Home', user_path(current_user.id), class: 'nav-link text-light fas fa-home' %>
            </li>
            <li class="nav-item">
              </i><%= link_to ' Users', users_path, class: 'nav-link text-light fas fa-users' %>
            </li>
            <li class="nav-item">
               <%= link_to ' Books', books_path, class: 'nav-link text-light fas fa-book-open' %>
            </li>
            <li class="nav-item">
              <%= link_to " logout", destroy_user_session_path, method: :delete, class: 'nav-link text-light fas fa-sign-out-alt' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to ' Home', root_path, class: 'nav-link text-light fas fa-home' %>
            </li>
            <li class="nav-item">
              <%= link_to ' About', homes_about_path, class: 'nav-link text-light fas fa-link' %>
            </li>
            <li class="nav-item">
              <%= link_to " sign up", new_user_registration_path, class: 'nav-link text-light fas fa-user-plus' %>
            </li>
            <li class="nav-item">
              <%= link_to " login", new_user_session_path, class: 'nav-link text-light fas fa-sign-in-alt' %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <p id="notice"></p>
    <%= yield %>
  </main>

  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          CopyRight Infratop.inc
        </div>
      </div>
    </div>
  </footer>

</body>

</html>